@model VolunteerPlatform.Web.Models.ApplicationUser

@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <dl class="row">
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        
        <dt class="col-sm-2">Username</dt>
        <dd class="col-sm-10">@Model.UserName</dd>
    </dl>
</div>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
        <text>|</text>
    }
    <a asp-action="Index">Back to List</a>
</p>